body{
  background-color: black;
  text-align: center;
}

* {
  font-family: Verdana, Geneva, sans-serif;
}

.header-main {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.app_link {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

.subheading {
  font-weight: 300;
  font-size: 42;
  color: white;
}

.heading2para {
  color: gray;
  font-size: 21px;
}

.copyright {
  text-align: right;
  color: gray;
  font-size: 21px;
}
